<nav class="navbar navbar-inverse" role="navigation">
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
        <li ><%= link_to 'Back', backends_actions_path %></li>
    </ul>
  </div>
</nav><div class="row">
  <div class="col-md-12">
    <section class="panel">
      <header class="panel-heading">
          Products Table
      </header>
      <table class="table table-striped table-advance table-hover">
        <thead>
        <tr>
            <th class="col-md-2"><i class="fa fa-bookmark"></i> Title</th>
            <th class="col-md-2"><i class="fa fa-bookmark-o"></i> Subtitle</th>
            <th class="col-md-3"><i class="fa fa-code-fork"></i> Item Url</th>
            <th class="col-md-3"><i class=" fa fa-camera-retro"></i> Image Url</th>
            <th class="col-md-2"></th>
        </tr>
        </thead>
        <tbody>
          <%@products.each do |product| %>
            <tr>
              <td class="col-md-2"><a href="<%=backends_show_product_button_path(product)%>"><%=product.title%></a></td>
              <td class="col-md-2"><%=product.subtitle%></td>
              <td class="col-md-3" style="word-break: break-word"><%=product.item_url%></td>
              <td class="col-md-3" style="word-break: break-word;text-align: center"><img src="<%=product.image_url%>" alt="" style="width: auto;height: 100px;"></td>
              <td class="col-md-2">
                <a href="<%=edit_backends_action_path(product.action_id)%>"><button class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i></button></a>
                <button class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
    </section>
  </div>
</div>